<div class="pokemon-card">
  <img
    [src]="
      pokemon.image ||
      'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/0.png'
    "
    [alt]="pokemon.name"
    (click)="goToPokemonPage()"
  />
  <h3>{{ pokemon.name }}</h3>
  <p><strong>Type:</strong> {{ pokemon.type }}</p>

  <div class="actions">
    <button
      class="btn-own"
      (click)="toggleOwnership()"
      [disabled]="pokemonService.loading()"
      [class.owned]="pokemon.owned"
    >
      {{ pokemon.owned ? "Release" : "Catch" }}
    </button>
  </div>
</div>
